{{!
  author: samueldoyle
  model: model/email
}}
<a href="mailto:{{emailToAddress}}?subject=Application Marketplace Assistance Request&body=Solution Information: id: {{repoUname}}, repository: {{repoName}}, branch: {{repoBranch}}">
    {{emailToName}}
</a>
